<div class="modal-body wrapper-lg">
    <div class="row">
        <div class="col-sm-12">
            <form name="projectAddForm" class="form-horizontal form-validation">
                <div class="panel panel-default">
                    <div class="panel-heading">
                      <strong>添加项目</strong>
                    </div>
                    <div class="panel-body pb0">
							<div class="form-group">
	                            <label class="col-sm-3 control-label">项目名称：</label>
	                            <div class="col-sm-9">
	                                <input ng-model="project.name" type="text"  placeholder="" class="form-control" required />    
	                            </div>
	                        </div>
	                        <div class="line line-dashed b-b pull-in"></div>
							<div class="form-group">
	                            <label class="col-sm-3 control-label">项目主包：</label>
	                            <div class="col-sm-9">
	                                <input ng-model="project.basePackage" type="text"  placeholder="" class="form-control" required />    
	                            </div>
	                        </div>
	                        <div class="line line-dashed b-b pull-in"></div>
							<div class="form-group">
	                            <label class="col-sm-3 control-label">项目描述：</label>
	                            <div class="col-sm-9">
	                                <input ng-model="project.description" type="text"  placeholder="" class="form-control" required />    
	                            </div>
	                        </div>
	                        <div class="line line-dashed b-b pull-in"></div>
							<div class="form-group">
	                            <label class="col-sm-3 control-label">mavenGroupId：</label>
	                            <div class="col-sm-9">
	                                <input ng-model="project.mavenGroupId" type="text"  placeholder="" class="form-control" required />    
	                            </div>
	                        </div>
	                        <div class="line line-dashed b-b pull-in"></div>
							<div class="form-group">
	                            <label class="col-sm-3 control-label">mavenArtifactId：</label>
	                            <div class="col-sm-9">
	                                <input ng-model="project.mavenArtifactId" type="text"  placeholder="" class="form-control" required />    
	                            </div>
	                        </div>
	                        <div class="line line-dashed b-b pull-in"></div>
							<div class="form-group">
	                            <label class="col-sm-3 control-label">mavenVersion：</label>
	                            <div class="col-sm-9">
	                                <input ng-model="project.mavenVersion" type="text"  placeholder="" class="form-control" required />    
	                            </div>
	                        </div>
	                        <div class="line line-dashed b-b pull-in"></div>
							<div class="form-group">
	                            <label class="col-sm-3 control-label">后台管理界面标题：</label>
	                            <div class="col-sm-9">
	                                <input ng-model="project.adminWebTitle" type="text"  placeholder="" class="form-control" required />    
	                            </div>
	                        </div>
	                        <div class="line line-dashed b-b pull-in"></div>
							<div class="form-group">
	                            <label class="col-sm-3 control-label">后台管理界面网页描述Meta信息：</label>
	                            <div class="col-sm-9">
	                                <input ng-model="project.adminWebMetaDescription" type="text"  placeholder="" class="form-control" required />    
	                            </div>
	                        </div>
	                        <div class="line line-dashed b-b pull-in"></div>
                    </div>
                    <footer class="panel-footer text-right">
                        <button ng-click="requestProjectAdd(projectAddForm.$valid);" type="submit" class="btn btn-success">保存</button>
                    </footer>
                </div>
            </form>
        </div>
    </div>
</div>